
PORT=3003
NODE_ENV=development


DATABASE_URL="postgresql://miner_user:miner_password@localhost:5432/repository_miner?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379


GITHUB_PERSONAL_ACCESS_TOKEN=github_pat_xxxxxxx


MAX_REPOSITORIES=1000


GITHUB_PROJECT_OWNER=luisajardim
GITHUB_PROJECT_OWNER_TYPE=user
GITHUB_PROJECT_NUMBER=1
SPRINT_ID=S02