# App Configuration
PORT=3003
NODE_ENV=development

# Target Infrastructure (Containers Locais)
DATABASE_URL="postgresql://miner_user:miner_password@localhost:5432/repository_miner?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379

# GitHub Tokens (Cada dev usa o seu próprio para não estourar rate limit durante os testes)
GITHUB_PERSONAL_ACCESS_TOKEN=github_pat_xxxxxxx